<div class="table-container">
    <table class="bodega-table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre del Producto</th>
          <th>Cantidad en Existencia</th>
          <th>Cantidad Mínima Recomendada</th>
          <th>Cantidad Máxima Recomendada</th>
          <th>Proveedor</th>
          <th>Precio</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of listProductsWithAllInfo">
          <tr>
            <td>
              <button (click)="toggleIcono(product)">
                <i [ngClass]="{
                          'fa-solid fa-greater-than': !product.isIconoX, 
                          'fas fa-times icono-rojo': product.isIconoX,
                          'icono-animate': true
                      }">
                </i>
              </button>
              <button (click)="preparateToEditProd(product.prodbodega.producto_bodega_id,product.prodbodega.cantidad_minima,product.prodbodega.cantidad_maxima,product.prodbodega.precio_proveedor,product.prodbodega.peso_proveedor_id,product.prodbodega.nombre_producto,product.prodbodega.proveedor_id)"><i class="fas fa-pencil-alt"></i></button>
            </td>
            <td class="td_image">{{product.prodbodega.nombre_producto}}</td>
            <td>{{product.prodbodega.cantidad_actual}} {{product.prodbodega.simboloPeso}}</td>
            <td>{{product.prodbodega.cantidad_minima}} {{product.prodbodega.simboloPeso}}</td>
            <td>{{product.prodbodega.cantidad_maxima}} {{product.prodbodega.simboloPeso}}</td>
            <td>{{product.prodbodega.proveedor.nombre_proveedor}}</td>
            <td>{{product.prodbodega.precio_proveedor}}</td>
          </tr>
          <tr *ngIf="product.isIconoX">
            <td colspan="7">
              <div class="info-desplegable">
                <table>
                  <tr>
                    <th></th>
                    <th>Lotes</th>
                    <th>Cantidad Total</th>
                    <th>Fecha de Vencimiento</th>

                  </tr>
                  <tr *ngFor="let lote of product.prodbodega.lotes">
                    <td>
                      <button (click)="peparateToEditLote(lote.lote_id,lote.cantidad,lote.fecha_vencimiento,product.prodbodega.producto_bodega_id)"><i class="fas fa-pencil-alt"></i></button>
                      <app-deleted-button
                      [functionDelete]="deleteLote.bind(this)"
                      [entrieId]="lote.lote_id"
                      ></app-deleted-button>
                    </td>
                    <td>#{{ lote.lote_id }}</td>
                    <td>{{ lote.cantidad }}  {{product.prodbodega.simboloPeso}}</td>
                    <td>{{ lote.fecha_vencimiento }}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>

<div class="warehouse-container">
    <h2>{{NameButton}}</h2>

    <select (ngModelChange)="chageFilterLoteproducto()" [(ngModel)]="valueFiltro">
      <option *ngFor="let filtro of options" [value]="filtro">{{ filtro}}</option>
    </select>

    <div class="form-row">
        <div class="input-group">
            <label for="warehouse">NOMBRE DEL PRODUCTO</label>
            <select *ngIf="isLote" [(ngModel)]="productoSeleccionado"  [disabled]="isLoteUpdate || isProdUpdate" >
              <option *ngFor="let producto of listProductosBodega" [value]="producto.producto_bodega_id">
                {{producto.nombre_producto}}
              </option>
            </select>
            <input *ngIf="!isLote" type="text"  placeholder="Type here..." [(ngModel)]="nameProd">
        </div>
        <div class="input-group" >
            <label for="cant_min" *ngIf="!isLote" >CANTIDAD MINIMA</label>
            <input class="input-weigth" type="number" id="cant_min" placeholder="Type here..." *ngIf="!isLote"  [(ngModel)]="minQuantityProd">
            <!--  -->
            <label for="cant-lote" *ngIf="isLote" >CANTIDAD</label>
            <input  type="number" id="cant-lote" placeholder="Type here..." *ngIf="isLote"  [(ngModel)]="quantityNewLot">
        </div>
        <div class="input-group">
            <label for="cant_max" *ngIf="!isLote" >CANTIDAD MAXIMA RECOMENDADA</label>
            <input  type="number" id="cant_max" placeholder="Type here..." *ngIf="!isLote" [(ngModel)]="maxQuantityProd">
            <!--  -->
            <label for="fecha_lote" *ngIf="isLote"  >FECHA DE VENCIMIENTO LOTE</label>
            <input type="date" id="fecha_lote" *ngIf="isLote" [(ngModel)]="dateNewLote">
        </div>
        <div class="input-group">
          <label for="Precio_prov" *ngIf="!isLote" >Precio</label>
          <input  type="number" id="Precio_prov" placeholder="Type here..." *ngIf="!isLote" [(ngModel)]="priceProv">
      </div>
        <div class="input-group">
            <label for="phone"  *ngIf="!isLote" >PESO</label>

            <select [(ngModel)]="pesoSeleccionado"  [disabled]="isProdUpdate" *ngIf="!isLote">
            <!-- <select [(ngModel)]="pesoSeleccionado"   *ngIf="!isLote"> -->

              <option *ngFor="let peso of pesoList" [value]="peso.peso_id">
                {{peso.unidad}}
              </option>
            </select>
        </div>
        <div class="input-group">
          <label for="prov"  *ngIf="!isLote" >Proveedor</label>
          <select [(ngModel)]="provSeleccionado"  *ngIf="!isLote" id="prov">
            <option *ngFor="let prov of proveedoresList" [value]="prov.proveedor_id">
              {{prov.nombre_proveedor}}
            </option>
          </select>
      </div>
    </div>
    
    <button class="generate-btn"
    (click)="handleButtonClick()"
    >
        {{NameButton}}
    </button>
    <button  class="cancel" (click)="cancel()">Cancelar</button>

</div>


