<div class="table-container">
    <table class="bodega-table">
      <thead>
        <tr>
          <th></th>
          <th>Nombre del Producto</th>
          <th>Cantidad en Existencia</th>
          <th>Cantidad Mínima</th>
          <th>Cantidad Máxima Recomendada</th>
          <th>Fecha de Vencimiento</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let product of products">
          <tr>
            <td>
              <button (click)="toggleIcono(product)">
                <i [ngClass]="{
                          'fa-solid fa-greater-than': !product.isIconoX, 
                          'fas fa-times icono-rojo': product.isIconoX,
                          'icono-animate': true
                      }">
                </i>
              </button>
              <button><i class="fas fa-pencil-alt"></i></button>
            </td>
            <td class="td_image">Papa Chola</td>
            <td>4 KG</td>
            <td>2 KG</td>
            <td>6 KG</td>
            <td>17/07/2023</td>
          </tr>
          <tr *ngIf="product.isIconoX">
            <td colspan="7">
              <div class="info-desplegable">
                <table>
                  <tr>
                    <th></th>
                    <th>Lotes</th>
                    <th>Cantidad Total</th>
                    <th>Fecha de Vencimiento</th>
                    <th>Proveedores</th>
                  </tr>
                  <tr *ngFor="let lote of product.lotes">
                    <td>
                      <button><i class="fas fa-pencil-alt"></i></button>
                      <!-- <button><i class="fas fa-trash-alt"></i></button> -->
                      <app-deleted-button></app-deleted-button>
                    </td>
                    <td>{{ lote.nombre }}</td>
                    <td>{{ lote.cantidad }}</td>
                    <td>{{ lote.fecha }}</td>
                    <td>{{ lote.proveedor }}</td>
                  </tr>
                </table>
              </div>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
</div>

<div class="warehouse-container">
    <h2>Agregar Nuevo Producto</h2>
    <select >
      <option *ngFor="let filtro of options">{{ filtro.name}}</option>
    </select>
    <div class="form-row">
        <div class="input-group">
            <label for="warehouse">NOMBRE DEL PRODUCTO</label>
            <input type="text" id="nombre" placeholder="Type here..." *ngIf="!isLote" >
            <!--  -->
            <select *ngIf="isLote" >
              <option> ingrediente 1</option>
            </select>
        </div>
        <div class="input-group" >
            <label for="status" *ngIf="!isLote" >CANTIDAD MINIMA</label>
            <input type="text" id="cant_mini" placeholder="Type here..." *ngIf="!isLote" >
            <!--  -->
            <label for="address" *ngIf="isLote" >CANTIDAD</label>
            <input type="text" id="cant_act" placeholder="Type here..." *ngIf="isLote" >
        </div>
        <div class="input-group">
            <label for="level" *ngIf="!isLote" >CANTIDAD MAXIMA RECOMENDADA</label>
            <input type="text" id="cant_max_reco" placeholder="Type here..." *ngIf="!isLote" >
            <!--  -->
            <label for="phone" *ngIf="isLote"  >FECHA DE VENCIMIENTO</label>
            <input type="text" id="fecha_vencimiento" placeholder="Type here..."  *ngIf="isLote" >
        </div>
        <div class="input-group">
            <label for="phone" *ngIf="!isLote"  >FECHA DE VENCIMIENTO</label>
            <input type="text" id="fecha_vencimiento" placeholder="Type here..."  *ngIf="!isLote" >
            <!--  -->
            <label for="phone"  *ngIf="isLote" >PESO</label>
            <input type="text" id="peso" placeholder="Type here..." *ngIf="isLote" >
        </div>
        <div class="input-group">
            <label for="phone"  *ngIf="!isLote" >PESO</label>
            <input type="text" id="peso" placeholder="Type here..." *ngIf="!isLote" >
        </div>
    </div>
    
    <button class="generate-btn">GENERAR</button>
</div>


