
<button class="print-btn" (click)="printComponent()">
  <i class="fas fa-print"></i> IMPRIMIR
</button>
<button class="print-btn" (click)=" exportToExcel()">
  <i class="fa-solid fa-file-excel"></i> EXPORTAR A EXCEL
</button>
<button class="print-btn" *ngIf="agrpacionPor==='m' && productoSeleccionado == -1" (click)=" saveInfoPredictDemand()">
  <i class="fa-solid fa-floppy-disk"></i> GUARDAR DATOS PARA ANALISIS
</button>

<div class="filter-container" *ngIf="isFilter">
  <!-- app.component.html -->

  <!-- Rango de fechas -->
  Desde: <input type="date" [(ngModel)]="fechaDesde" (ngModelChange)="changeFilter()">
  Hasta: <input type="date" [(ngModel)]="fechaHasta" (ngModelChange)="changeFilter()">
  Agrupar por:<select [(ngModel)]="agrpacionPor" (ngModelChange)="changeFilter()">
    <option value="a">Años</option>
    <option value="m">Meses</option>
    <option value="w">Semanas</option>
    

  </select>
  <!-- Filtro de productos -->
  <select [(ngModel)]="productoSeleccionado" (ngModelChange)="changeFilter()">
    <option *ngFor="let producto of listProductosBodega" [value]="producto.producto_bodega_id">
      {{producto.nombre_producto}}
    </option>
  </select>
  
</div>
<div class="canvas_container print-container">
  <canvas
    baseChart
    class="chart"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>

  <div class="table-container">
    <table class="bodega-table">
      <tr>
        <th>{{nombreAgrpacionPor}}</th>
        <th *ngIf="productoSeleccionado != -1">Cantidad estimada</th>
        <th>Valor estimado</th>
        <!-- <th>Catidad Real</th> -->
        <!-- <th *ngIf="productoSeleccionado == -1">Valor real</th> -->
        
      </tr>
      <tr *ngFor="let dato of datosTabla">
        <td>{{dato.fecha}}</td>
        <td *ngIf="productoSeleccionado != -1">{{dato.cantidad_predicha | number:'1.2-2'}} {{simbolo}}</td>
        <td>{{dato.valor_estimado | currency:'USD':'symbol':'1.2-2'}}</td>
        <!-- <td>{{dato.real}}</td>-->
        <!-- <td *ngIf="productoSeleccionado == -1">{{dato.valorReal | currency:'USD':'symbol':'1.2-2'}}</td>  -->
      </tr>
      <tfoot>
        <td></td>
        <!-- <td>Total Real:</td>
        <td>100</td> -->
        <td *ngIf="productoSeleccionado != -1">Total Estimado:</td>
        <td *ngIf="productoSeleccionado != -1">{{valorTotalEstimado | currency:'USD':'symbol':'1.2-2'}}</td>

        <td *ngIf="productoSeleccionado == -1">Total Estimado:{{valorTotalEstimado | currency:'USD':'symbol':'1.2-2'}}</td>
        <!-- <td *ngIf="productoSeleccionado == -1">Total Real:{{valorTotalreal | currency:'USD':'symbol':'1.2-2'}}</td> -->

      </tfoot>
    </table>
  </div>
  

</div>


    <!-- [plugins]="lineChartPlugins" -->