

<label class="checkbox-container" *ngIf="!isFilter">
  Seleccionar
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<div class="filter-container" *ngIf="isFilter">
  <!-- app.component.html -->

  <!-- Rango de fechas -->
  Desde: <input type="date" [(ngModel)]="fechaDesde" (ngModelChange)="changeFilter()">
  Hasta: <input type="date" [(ngModel)]="fechaHasta" (ngModelChange)="changeFilter()">
  
  <!-- Filtro de productos -->
  <select [(ngModel)]="productoSeleccionado" (ngModelChange)="changeFilter()">
    <option *ngFor="let producto of listProductosBodega" [value]="producto.producto_bodega_id">
      {{producto.nombre_producto}}
    </option>
  </select>
</div>
<div class="canvas_container">
  <canvas
    baseChart
    class="chart"
    [data]="lineChartData"
    [options]="lineChartOptions"
    [type]="lineChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  ></canvas>

</div>