<button (click)="openModal()"><i class="fas fa-trash-alt"></i></button>

<!-- Pop-up (Modal) -->
<div #myModal class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <span class="close-btn" (click)="closeModal()"
          ><i class="fas fa-times"></i
        ></span>
      </div>
      <div class="modal-body">
        <!-- Contenido del pop-up, puedes insertar la gráfica y la información aquí -->
        <section class="grafics-section" >
          <h2 class="titulo-modal">{{graficModal.title}}</h2>
          <h3>{{graficModal.description}}</h3>
        </section>
      </div>
      <div class="modal-footer">
        <button class="btn-eliminar" (click)="emitEvent()">
          Eliminar
        </button>
      </div>
    </div>
  </div>