<div class="container">
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Símbolo</th>
                    <th>Peso</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Kilogramo</td>
                    <td>Kg</td>
                    <td>
                        <button class="btn-icon"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>Gramo</td>
                    <td>gr</td>
                    <td>
                        <button class="btn-icon"><i class="fas fa-pencil-alt"></i></button>
                        <button class="btn-icon"><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
                <!-- Puedes agregar más filas según sea necesario -->
            </tbody>
        </table>
    </div>

    <div class="form-container">
        <h3>Agregar Nuevo Peso</h3>
        <form>
            <label>Peso</label>
            <input type="text" placeholder="Type here...">
            <label>Símbolo</label>
            <input type="text" placeholder="Type here...">
            <button class="add-peso">GENERAR</button>
        </form>
    </div>
</div>
