.pricipal_container{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 18vw 82vw;
    grid-template-rows: 15vh 78vh 7vh;
}

.sidebar_container_principal{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
}

.header_container_principal{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.footer_container_principal{
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    display: flex;
    align-items: center;
}

.container_principal_content{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    overflow-y: auto;
    overflow-x: auto;
}

@media print {
    body * {
      visibility: hidden; /* Oculta todo el contenido del body al imprimir */
    }
    .header_container_principal {
      visibility: hidden; /* Esto ocultará header, footer y aside durante la impresión */
    }

    .sidebar_container_principal{
      visibility: hidden; /* Esto ocultará header, footer y aside durante la impresión */
    }

    .footer_container_principal{
      visibility: hidden;
    }
}