<button class="print-btn"  (click)="printComponent()">
  <i class="fas fa-print"></i> IMPRIMIR
</button>
<div class="filter-container" *ngIf="isFilter">
  <!-- Rango de fechas -->
  Desde: <input type="date" [(ngModel)]="fechaDesde" (ngModelChange)="changeFilter()">
  Hasta: <input type="date" [(ngModel)]="fechaHasta" (ngModelChange)="changeFilter()">

</div>
<div class="canvas_container">
<canvas
  baseChart
  class="chart"
  [data]="pieChartData"
  [type]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins"
>
</canvas>
</div>