.canvas_container{
    display: flex;
    justify-content: space-evenly;
    height: auto;
    width: auto;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 8rem;
}
canvas{
    width: 65vw;
    height: 100%;
}

/* //filtros */
.filter-container {
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    margin: 1rem;
}

.date-range, .product-dropdown {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    position: relative;
}

input[type="date"] {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 0.5rem;
    width: 150px;
    font-size: 14px;
    color: #777;
}



.filter-container select {
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #E0E0E0;
    border-radius: 0.4rem;
    cursor: pointer;
    appearance: none; /* Esto elimina el aspecto predeterminado del navegador para select */
    background-color: #fff;
}

/* Para añadir un icono de flecha descendente a las listas desplegables si lo necesitas */
.filter-container select:after {
    content: '\25BC';
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Asegura que no interfiera con los clics en el select */
}

.subtitle-container{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Rosario';
    font-size: 1.5rem;
    color: #252f4091;
}
/* check */
/* Estilo personalizado para el contenedor de la etiqueta y el checkbox */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
  }
  
  /* Ocultar el checkbox real */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Crear un cuadro personalizado */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid #ddd; /* Agrega un borde al cuadro del checkbox */
  }
  
  /* Al marcar la casilla, cambia el color del cuadro */
  .checkbox-container input:checked ~ .checkmark {
    background-color: #2196F3;
  }
  
  /* Crear el indicador de verificación (escondido cuando no está marcado) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Mostrar el indicador de verificación cuando se verifica el checkbox */
  .checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Estilo del indicador de verificación */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
  
  /* --------------------------------------------
   */

.table-container_print {
    height: 50vh; 
  width: auto;
}
.table-container {
  height: 50vh; 
  width: auto;
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 2rem;
}

.bodega-table{
  width: 50vw;
    border-radius: 2rem;
    margin: 0 0.5rem;
}

.bodega-table {
    width: 98%;
    height: 43vh;
    border-collapse: collapse;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.bodega-table th {
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    border-radius: 2rem;
    font-family: 'Rosario';
    color: #7f8ca1;
    font-size: 1.4rem;
    position: sticky;
    top: 0;
    z-index: 100;
}

.bodega-table td {
    padding: 1.5rem;
    border-bottom: 1px solid #e1e1e1;
    text-align: center;
    color: #8392AB;
    text-decoration: none;
    font-family: 'Rosario';
    font-size: 1.4rem;
}
.print-btn {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 1em;
  transition: background-color 0.3s;
  margin-right: 1.2rem;
}

.print-btn:hover {
  background-color: #45a049;
}

.print-btn i {
  margin-right: 5px;
}


@media print {
  body * {
    visibility: hidden; /* Oculta todo el contenido del body al imprimir */
  }
  .header_container_principal {
    visibility: hidden; /* Esto ocultará header, footer y aside durante la impresión */
  }
  .filter-container{
    visibility: hidden;
  }
  .print-container, .print-container * {
    visibility: visible; /* Solo el contenido dentro de .print-container se mostrará */
  }
  .print-container {
    position: absolute;
    left: 0;
    top: 0;
  }

  .table-container{
    height: auto; 
    width: auto;
  }

  button{
    visibility: hidden;
  }
}



/* ---------------------------------------- */


/* Estilos para el contenedor del dropdown */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Estilos para el botón que desencadena el dropdown */
  .dropbtn {
    background-color: #ffffff; /* Fondo blanco */
    color: #333; /* Texto en color oscuro */
    padding: 8px 16px; /* Espaciado interno */
    font-size: 16px; /* Tamaño del texto */
    border: 1px solid #aaa; /* Borde gris */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer;
    outline: none; /* Eliminar el contorno al hacer clic */
  }
  
  /* Cambiar el color de fondo al pasar el mouse */
  .dropbtn:hover {
    background-color: #e8e8e8; /* Fondo gris claro al pasar el mouse */
  }
  
  /* Estilos para el contenido del dropdown */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9; /* Fondo más claro para el dropdown */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Sombra para el dropdown */
    z-index: 1;
    border-radius: 5px; /* Bordes redondeados */
    border: 1px solid #ddd; /* Borde claro */
    left: 0; /* Alineación izquierda con el botón */
  }
  
  /* Mostrar el dropdown al hacer clic en el botón */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Estilos para las opciones del dropdown */
  .dropdown-content label {
    display: block; /* Cada opción del dropdown en su propia línea */
    color: #333; /* Texto en color oscuro para las opciones */
    padding: 8px 16px; /* Espaciado interno para las opciones */
    border-bottom: 1px solid #e7e7e7; /* Borde inferior para separar las opciones */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    font-size: 1.3rem;
  }
  
  /* Estilos para el checkbox */
  .dropdown-content input[type="checkbox"] {
    margin-right: 10px; /* Espacio a la derecha del checkbox */
  }
  
  /* Cambiar el estilo de la opción al pasar el mouse */
  .dropdown-content label:hover {
    background-color: #e8e8e8; /* Fondo gris claro al pasar el mouse sobre la opción */
  }
  
  