<div class="pedidos-container">
    <header>
      <h2>Numero de Pedido: {{orden!==undefined?orden.orden_id:''}}</h2>
      <h2>fecha de Creación: {{orden!==undefined?orden.fecha_orden:''}}</h2>
      <h2>fecha de recepción: {{orden!==undefined?orden.fecha_estimada_recepcion:''}}</h2>
      <h2>Estado del Pedido: {{orden!==undefined?orden.estado:''}}</h2>
    </header>
  
    <div class="table-container">
        <table class="bodega-table">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Cantidad</th>
              <th>Peso</th>
              <th>Precio provedor</th>
              <th>Proveedor</th>
              <th *ngIf="orden!==undefined &&(orden.estado==='Enviado' )">Estado</th>
              <th>Valor</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
              <tr  *ngFor="let prod of listdetalles;let i=index">
                <td>{{prod.productInfo.nombre_producto}}</td>
                <td>{{prod.cantidad_necesaria}}</td>
                <td>{{prod.pesoInfo.unidad}}</td>
                <td>{{prod.productInfo.precio_proveedor}}</td>
                <td>{{prod.proveedorNombre}}</td>
                <td *ngIf="orden!==undefined &&(orden.estado==='Enviado' )">{{prod.estado}}</td>
                <td>{{toNumber(prod.cantidad_necesaria)*toNumber(prod.productInfo.precio_proveedor)}}</td>
                <td *ngIf="!isSeen">
                    <button class="btn-icon" (click)="prod.detalle_orden_id===undefined?
                      peparateDataToEdit(i,prod.productInfo.producto_bodega_id,prod.productInfo.proveedor_id,prod.cantidad_necesaria):peparateDataToEdit(prod.detalle_orden_id,prod.productInfo.producto_bodega_id,prod.productInfo.proveedor_id,prod.cantidad_necesaria)
                      "><i class="fas fa-pencil-alt"></i></button>
                    <app-deleted-button
                    [functionDelete]="deleteDetalle.bind(this)"
                    [entrieId]="idPedido !== '0'?prod.detalle_orden_id:i"
                    ></app-deleted-button>
                </td>
              </tr>
          </tbody>
          <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td *ngIf="orden!==undefined &&(orden.estado==='Enviado' )"></td>
                <td>total:</td>
                <td>{{orden!==undefined?orden.total:valorTotal}}</td>
            </tr>
          </tfoot>
        </table>
    </div>


    <div class="ingredients-section" *ngIf="!isSeen">
        <h2>Productos del pedido</h2>
        <div class="ingredient-inputs">
    
            <select name="producto" [(ngModel)]="prodSelect" [disabled]="isEdit" (change)="changeProv()">
                <option *ngFor="let prod of listProd" value="{{prod.producto_bodega_id}}" >{{prod.nombre_producto}}</option>
            </select>
            <input type="number" placeholder="Cantidad" [(ngModel)]="cantidad">
            <select name="proveedor" [(ngModel)]="provSelect" disabled>
              <option *ngFor="let prov of listProv" value="{{prov.proveedor_id}}" >{{prov.nombre_proveedor}}</option>
          </select>

          
          
        </div>

        <button class="btn-add" (click)="isEdit?updateDetalle():createDetalle()">{{isEdit?"Editar":"Agregar"}}</button>
        <button *ngIf="isEdit" class="cancel" (click)="cleanfrom()">Cancelar</button>

    </div>
    
    <div [ngClass]="{'button-container-seen':isSeen,               'button-container':!isSeen}" *ngIf="orden===undefined||!(orden.estado==='Recibido' || orden.estado==='Cancelado')">
        <h3>Acciones </h3>
        <div class="buttons">
            <!-- <div class="container_date" *ngIf="orden===undefined">
              <label for="estimate_date" class="label_date">Fecha estimada de recepción</label>
              <input type="date" id="estimate_date" [(ngModel)]="estimeteDate">
            </div> -->
            <button *ngIf="orden===undefined" class="approve-btn" (click)="createPedidoCompleto()">CREAR PEDIDO</button>
            <button *ngIf="orden!==undefined &&(orden.estado==='Aprobado' ) " class="approve-btn" (click)="changeStatuS('Enviado')">ENVIAR EL PEDIDO</button>
            <button *ngIf="orden!==undefined &&(orden.estado==='En espera')" class="approve-btn" (click)="changeStatuS('Aprobado')">APROBAR PEDIDO</button>

            <!-- Acciones de recepcion de pedido -->
            <select *ngIf="orden!==undefined &&(orden.estado==='Enviado' )"  [(ngModel)]="selectedFilter" [disabled]="isEdit" (change)="chageFilterRecive()">
              <option *ngFor="let filter of listFilterRecive" value="{{filter}}" >{{filter}}</option>
            </select>
            <select *ngIf="orden!==undefined &&(orden.estado==='Enviado' ) && selectedFilter==='Proveedores'"  [(ngModel)]="provToReci" [disabled]="isEdit">
              <option *ngFor="let prov of listProvRecep" value="{{prov.proveedor_id}}" >{{prov.nombre_proveedor}}</option>
            </select>
            <select *ngIf="orden!==undefined &&(orden.estado==='Enviado'  && selectedFilter==='Porducto' )"   [(ngModel)]="detailToReci" [disabled]="isEdit" >
              <option *ngFor="let prod of listdetallesProdRecep" value="{{prod.detalle_orden_id}}" >{{prod.productInfo.nombre_producto}}</option>
            </select>
            <button *ngIf="orden!==undefined &&(orden.estado==='Enviado' )" class="approve-btn" (click)="reciveOrder()">RECIBIR</button>



            <button *ngIf="orden!==undefined &&(orden.estado==='Aprobado')" class="reject-btn" (click)="changeStatuS('En espera')">PONER EN ESPERA PEDIDO</button>
            <button *ngIf="orden!==undefined &&(orden.estado==='En espera' || orden.estado==='Aprobado' )" class="reject-btn" (click)="changeStatuS('Cancelado')">CANCELAR PEDIDO</button>


        </div>
    </div>
    
    

</div>
