<label class="checkbox-container" *ngIf="!isFilter">
  Seleccionar
  <input type="checkbox">
  <span class="checkmark"></span>
</label>
<div class="filter-container" *ngIf="isFilter">

  
  <!-- Filtro de productos -->
  <select [(ngModel)]="productoSeleccionado" (ngModelChange)="changeFilter()">
    <option *ngFor="let producto of listProductosBodega" [value]="producto.producto_bodega_id">
      {{producto.nombre_producto}}
    </option>
  </select>
</div>
<div class="canvas_container">

  <canvas
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  >
  </canvas>
</div>

