<button class="print-btn"  (click)="printComponent()">
  <i class="fas fa-print"></i> IMPRIMIR
</button>
<button class="print-btn" (click)=" exportToExcel()" >
  <i class="fa-solid fa-file-excel"></i> EXPORTAR A EXCEL
</button>
<div class="filter-container " *ngIf="isFilter">

  
  <!-- Filtro de productos -->
  <select [(ngModel)]="productoSeleccionado" (ngModelChange)="changeFilter()">
    <option *ngFor="let producto of listProductosBodega" [value]="producto.producto_bodega_id">
      {{producto.nombre_producto}}
    </option>
  </select>
</div>
<div class="canvas_container print-container">

  <canvas
    baseChart
    class="chart"
    [data]="barChartData"
    [options]="barChartOptions"
    [type]="barChartType"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)"
  >
  </canvas>

  <div class="table-container">
    <table class="bodega-table">
      <tr>
        <th>Numero lote</th>
        <th>Cantidad</th>
        <th>fecha de expiración</th>
        <th>Proveedor</th>
        
      </tr>
      <tr *ngFor="let lote of infoLotestabla">
        <td>{{lote.idLote}}</td>
        <td>{{lote.cantidad}}</td>
        <td>{{lote.fechaExpiracion}}</td>
        <td>{{lote.nombreProveedor}}</td>
      </tr>
      <tfoot>
        <td></td>
        <td>Total: {{cantTotal}} {{subStr}}</td>
      </tfoot>
    </table>
  </div>
</div>

