<div class="table-container">
    <table class="provider-table">
        <thead>
            <tr>

                <th>NOMBRE DEL PROVEEDOR</th>
                <th>ESTADO</th>
                <th>NIVEL</th>
                <th>TELEFONO</th>
                <th></th> <!-- Para el botón de editar -->
            </tr>
        </thead>
        <tbody>
            <tr class="provider-row" *ngFor="let proveedor of listProv">
                <td class="td_image">
                    <img src="https://i.ibb.co/8ztVbGG/team-2.png" alt="Michael John" class="provider-image">
                    <div>
                        <strong class="provider-name">{{proveedor.nombre_proveedor}}</strong><br>
                        <a href="mailto:michael@mail.com" class="provider-email">{{proveedor.email}}</a>
                    </div>
                </td>
                <td>
                    <span class="provider-status" [ngClass]="{'active-status': proveedor.estado === 'activo', 'inactive-status': proveedor.estado !== 'activo'}">
                      {{proveedor.estado}}
                    </span>
                  </td>
                  
                <td class="provider-level">{{proveedor.nivel}}</td>
                <td><a href="tel:{{proveedor.telefono}}" class="provider-phone">{{proveedor.telefono}}</a></td>
                <td><button class="edit-button" (click)="loadDataToEdit(proveedor.proveedor_id,proveedor.nombre_proveedor,proveedor.email,proveedor.estado,proveedor.nivel,proveedor.telefono)">Edit</button></td>
            </tr>
            <!-- Puedes replicar el <tr class="provider-row"> para cada proveedor en la lista -->
        </tbody>
    </table>
    
</div>

<div class="provider-container">
    <h2>{{title}}</h2>
    <div class="form-row">
        <div class="input-group">
            <label for="provider">PROVEEDORES</label>
            <input type="text" id="provider" placeholder="Type here..." [(ngModel)]="nameProv">
        </div>
        <div class="input-group">
            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="Type here..." [(ngModel)]="emailprov">
        </div>
        <div class="input-group">
            <label for="status">ESTADO</label>
            <select id="status" [(ngModel)]="estadoProv">
                <option value="activo" selected>activo</option>
                <option value="inactivo">inactivo</option>
            </select>
        </div>
        <div class="input-group">
            <label for="level">NIVEL</label>
            <select id="level" [(ngModel)]="nivelPov">
                <option value="1" selected>1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="input-group">
            <label for="phone">TELEFONO</label>
            <input type="text" id="phone" placeholder="Type here..." [(ngModel)]="telefonoProv">
        </div>
    </div>
    <button class="generate-btn" (click)="titleButton === 'Agregar'?createProv():updateProv()">{{titleButton}}</button>
</div>
