<header>
  <div class="container_header_1">
    <div>
      Pages /
      <p>{{nameRoute}}</p>
    </div>
    <h1>{{nameRoute}}</h1>
  </div>
  <div class="container_header_2">
    <div class="search-container">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
      <input type="text" class="search-input" placeholder="Type here..." />
    </div>
    <!-- Contenido HTML -->
    <button class="btn" (click)='navigateToSettings()'>
      <i class="fa-solid fa-gear btn-icon"></i>
    </button>
  </div>
</header>
