<div class="platos-container">
  <header>
    <button class="agregar-btn" (click)="addPlato()">
      Agregar Plato <i class="fas fa-plus"></i>
    </button>
  </header>

  <table class="platos-table">
    <tbody>
      <tr *ngFor="let plato of platos">
        <td class="td_img">
          <img
            src="https://i.ibb.co/2vPrtTn/image-3.jpg"
            alt={{plato.descripcion}}
          />
        </td>
        <td>
          <h3>{{plato.nombre_plato}}</h3>
          <h4>{{plato.precio}}$</h4>
          <h4>{{plato.ingredientes}}</h4>
        </td>
        <td class="td_btn">
            <span
              [ngClass]="{'disponible-btn':plato.estado==='Disponible','no-disponible-btn':plato.estado==='No disponible'}"
            >{{plato.estado}}</span>
        </td>
        <td><button class="eliminar-btn" (click)="changeStatus(plato.plato_id)">Cambiar estado</button></td>
        <td><button class="editar-btn" (click)="editPlato(plato.plato_id)">Editar</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Repite el artículo para más platos -->
</div>

<!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/2vPrtTn/image-3.jpg" alt="image-3" border="0"></a> -->
