<div class="platos-container">
  <header>
    <button class="agregar-btn" (click)="addPlato()">
      Agregar Plato <i class="fas fa-plus"></i>
    </button>
  </header>

  <table class="platos-table">
    <tbody>
      <tr>
        <td class="td_img">
          <img
            src="https://i.ibb.co/2vPrtTn/image-3.jpg"
            alt="Imagen del Desayuno #1"
          />
        </td>
        <td>
          <h3>Desayuno #1</h3>
          <h4>Bolón mixto, café, jugo y huevos.</h4>
        </td>
        <td>
            <span class="disponible-btn active-status">DISPONIBLE</span>
        </td>
        <td><button class="eliminar-btn">Inhabilitar</button></td>
        <td><button class="editar-btn">Editar</button></td>
      </tr>
    </tbody>
  </table>

  <!-- Repite el artículo para más platos -->
</div>

<!-- <a href="https://imgbb.com/"><img src="https://i.ibb.co/2vPrtTn/image-3.jpg" alt="image-3" border="0"></a> -->
